@each $name, $font-family in $font-families {
    .cards__#{$name} h2 {
        font-family: $font-family;
    }
}

@each $name, $font-family in $font-families {
    .cards__#{$name} p {
        font-family: (mali);
    }
}

.cards {
    display: grid;
    justify-content: center;
    margin: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

        @include breakpoints(mobile) {
            grid-template-columns: repeat(1, 1fr);
        }
    
    &__note {
        background: #fcdfdb;
        @include cards;

        & i {
            background: linear-gradient(to right, #f05160 0%, #f6916a 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & fa-itunes-note::before {
            content: "";
            
        }
        
        & h2 {
            color: color(note);
        }

        & p {
            color: color(note);
            @include fontsize(title);
        }
    }
        
    &__chic {
        background: #fff5fe;
        @include cards;
        & h2 {
            background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            color: color(starter);
            @include fontsize(title);
        }
    }
    
    &__delight {
        @include cards;
        & h2 {
            background: linear-gradient(to right, #0229dd 0%, #55acfb 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            color: color(delight);
            @include fontsize(title);
        }
    }
    
    &__palet {
        background: #fdfffd;
        @include cards;
        & h2 {
            background: linear-gradient(to right, #42973c 0%, #bfff7e 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            color: color(palet);
            @include fontsize(title);
        }
    }
}
