.content {
    margin: 20px 30px;
    @include breakpoints (mobile) {
        display: block;
    }
}

.mentions {
    
    h2,
    h3 {
        display: flex;
        justify-content: center;
        color: $colour-primary;
        margin: 30px 0;
        font-weight: weight(medium);
    }

    ul {
        margin-bottom: 10px;
        
        li {
            color: color(other);
            padding: 5px 0;
            
            a {
                color: $colour-primary;
            }

            span {
                padding-left: 10px;
                color: color(note);
            }
        }
    }

    p {
        color: color(other);
        font-family: map-get($font-family , montserrat );

        a {
            color: $colour-primary;
        }

        span {
            color: color(note);
        }
    }
}