/*boucle pour assigner une couleur différente à chaque élément visés *** menu chic *** 3 paragraphes de couleur diff*/
@each $name, $color in $colors {
    .card-chic .#{$name} * {
        color: $color;
    }
}
/*boucle pour assigner une couleur différente à chaque élément visés *** 3 soulignement au hover de couleurs différentes pour 3 paragraphes différents *** 4 pages */
@each $name, $background in $backgrounds-note {
    .card-note .menu--content .line-#{$name} {
        background: $background;
    }
}

@each $name, $background in $backgrounds-chic {
    .card-chic .menu--content .line-#{$name} {
        background: $background;
    }
}

@each $name, $background in $backgrounds-delight {
    .card-delight .menu--content .line-#{$name} {
        background: $background;
    }
}

@each $name, $background in $backgrounds-palet {
    .card-palet .menu--content .line-#{$name} {
        background: $background;
    }
}
/*boucle pour assigner une police différente à chaque élément visés *** Tous les titres de niveau H2 *** 4 pages */
@each $name, $font-family in $font-families {
    .card-#{$name} h2 {
        font-family: $font-family;
    }
}
/******************************** 4 pages menus *************************************/
.card {
    margin: 50px 100px;
    box-shadow:$box-shadow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 30px;

    &-note {
        background: #fcdfdb;
        color: color(note);

        & .title {
        
            & i {
                font-size: 7rem;
                background: linear-gradient(to right, #f05160 0%, #f6916a 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
            & fa-itunes-note::before {
                content: "";   
            } 
    
            & h2 {
                font-weight: weight(medium);
                color: color(note);
            }
        }
    
        & .menu {
            margin: 40px 0;

            h3 {
                color: color(note);
            }
            p,
            .price {
                color: color(note);
                font-weight: weight(thin);
            }
    
            .price {
                font-weight: weight(medium);
            }
    
            @include content (note);
        }
    
        & .title-bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            @include breakpoints(mobile) {
                display: flex;
                flex-direction: column-reverse;
            }

            & i {
                background: linear-gradient(to right, #f05160 0%, #f6916a 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
            & fa-itunes-note::before {
                content: "";  
            } 
    
            & h2 {
                color: color(note);
                margin: 0 20px;
                font-size: 3rem;
            }
        }
    }

    &-chic {
        background: #fff5fe;

        & .title {
    
            & h2 {
                font-weight: weight(medium);
                background: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
        & .menu {
            margin: 40px 0;

            & h3 {
            }

            & p,
            .price {
                font-weight: weight(thin);
            }
    
            .price {
                font-weight: weight(medium);
            }
            
            @include content (chic);
            
        }
    }

    &-delight {
        background: #edefef;
        
        & .title {
            
            & h2 {
                font-weight: weight(medium);
                background: linear-gradient(to right, #0231df 0%, #229df9 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
        & .menu {
            margin: 40px 0;

            & h3 {
                color: color(other);
            }

            & p,
            .price {
                color: color(other);
                font-weight: weight(thin);
            }
    
            .price {
                font-weight: weight(medium);
            }

            @include content (delight);

        }
    }

    &-palet {
        background: #fdfffd;
        
        & .title {
    
            & h2 {
                font-weight: weight(medium);
                background: linear-gradient(to right, #54a646 0%, #beff7f 100%);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
        & .menu {
            margin: 40px 0;

            & h3 {
                color: color(other);
                font-weight: weight(thin);
            }

            & p,
            .price {
                color: color(other);
                font-weight: weight(thin);
            }
            
            @include content (palet);
    
        }
    }
}
/******************************** Page mentions légales *************************************/
.content {
    margin: 20px 30px;
    @include breakpoints (mobile) {
        display: block;
    }
}

.mentions {
    
    & h2,
    h3 {
        display: flex;
        justify-content: center;
        color: $colour-primary;
        margin: 30px 0;
        font-weight: weight(medium);
    }

    & ul {
        margin-bottom: 10px;
        
        & li {
            color: color(other);
            padding: 5px 0;
            
            & a {
                color: $colour-primary;
            }

            & span {
                padding-left: 10px;
                color: color(note);
            }
        }
    }

    & p {
        color: color(other);
        font-family: map-get($font-family , montserrat );

        & a {
            color: $colour-primary;
        }

        & span {
            color: color(note);
        }
    }
}
/* incorporation de mixins */
@include typography;
@include fontfamily(chic);
@include fontfamily(note);
@include fontfamily(delight);
@include fontfamily(palet);