@mixin cards {
    width: 300px;
    height: 400px;
    box-shadow:$box-shadow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & a {
        transition: transform 0.6s ease-in-out;

        @include breakpoints (laptop) {
            opacity: 1;
        }

        &:hover {
            overflow: hidden;
            transform: scale(1.15);
            opacity: 0.8;
            cursor: pointer;

            @include breakpoints (laptop) {
                pointer-events: none; 
                transform: scale(1);
                transition: opacity 0.2s ease;
                opacity: 0.5;
                background: darken($color: $colour-secondary, $amount: 40%);
            }
        }

        @include breakpoints(laptop) {

            &:focus {
                outline: 3px solid $colour-primary;
                outline-offset: 3px;
            }
        }
    }

    & p {
        font-family: 'Mali', cursive;
        font-size: 3rem;
        font-weight: 300;
    }
}

@mixin breakpoints ($point) {
    @if $point == mobile {
        @media screen and(max-width: 320px) {@content;}
    }
    @else if $point == laptop {
        @media screen and(max-width: 768px) {@content;}
    }
    @else if $point == desktop {
        @media screen and(max-width: 1224px) {@content;}
    }
    @else if $point == largescreens {
        @media screen and(max-width: 1824px) {@content;}
    }
}

@mixin flexcenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

@mixin typography {
    @include breakpoints (laptop) {
        .card {
            margin: 50px 50px;

            & .title {
                & i {
                    font-size: 5rem;
                }

                & h2 {
                    font-size: 3rem;
                    font-weight: weight(thin);
                }
            }
    
            & .menu {
    
                & h3 {
                    font-size: 1.5rem;
                }
    
                & p {
                    font-size: 1rem;
                    font-weight: weight(thin);
                }
    
                &--content {
                    display: block;

                    & .separator {
                        display: none;
                    }
                }
            }
        }
    }
}

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin content ($page) {
    @if $page == chic {
        @each $name, $background in $backgrounds {
            &--content .line-#{$name} {
                background: $background;
                background-size: 0 100%;
                transition: background-size 800ms;

                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            & .separator {
                width: 30%;  
            }
        }
    }

    @if $page == delight {
        @each $name, $background in $backgrounds-delight {
            &--content .line-#{$name} {
                background: $background;
                background-size: 0 100%;
                transition: background-size 800ms;

                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            & .separator {
                width: 30%;  
            }
        }
    }

    @if $page == palet {
        @each $name, $background in $backgrounds-palet {
            & --content .line-#{$name} {
                background: $background;
                background-size: 0 100%;
                transition: background-size 800ms;
                
                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            & .separator {
                width: 30%;  
            }
        }
    }
}