/*mixin appliquée au fichier _index.scss - page d'accueil index.html*/
@mixin cards {
    width: 300px;
    height: 400px;
    box-shadow:$box-shadow;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        transition: transform 0.6s ease-in-out;

        @include breakpoints (mobile) {
            opacity: 1;
        }

        &:hover {
            overflow: hidden;
            transform: scale(1.15);
            opacity: 0.8;
            cursor: pointer;

            @include breakpoints (mobile) {
                pointer-events: none; 
                transform: scale(1);
                transition: opacity 0.2s ease;
                opacity: 0.5;
                background: darken($color: $colour-secondary, $amount: 40%);
            }
        }

        @include breakpoints(mobile) {

            &:focus {
                outline: 3px solid $colour-primary;
                outline-offset: 3px;
            }
        }
    }

    p {
        @include fontsize(secondtitle);
        font-weight: weight(thin);
    }
}

@mixin flexcenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
/*mixin appliquée aux fichiers des pages subsidiaires*/
@mixin card-typography {

    .card {
        @include breakpoints (mobile) {
            margin: 50px 50px;
        }

        .title {

            i {
                @include breakpoints (mobile) {
                @include fontsize(title)
                }
            }

            h2 {
                @include fontsize(title);
                @include breakpoints (mobile) {
                    font-weight: weight(thin);
                }
            }
        }

        .menu {

            h3 {
                @include fontsize(subtitle);
            }

            p {
                @include fontsize(paragraph);
                @include breakpoints (mobile) {
                    font-weight: weight(thin);
                }
            }

            @include breakpoints(mobile) {
                &--content {
                    display: block;
    
                    .separator {
                        display: none;
                    }
                }
            }
        }
    }
}
/*mixin appliquée aux fichiers des pages subsidiaires*/
@mixin content ($page) {
    @if $page == note {
        @each $name, $background in $backgrounds-note {
            &--content .line-#{$name} {
                /*background: $background;*/
                background-size: 0 100%;
                transition: background-size 800ms;

                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            .separator {
                width: 30%;  
            }
        }
    }

    @if $page == chic {
        @each $name, $background in $backgrounds-chic {
            &--content .line-#{$name} {
               /* background: $background;*/
                background-size: 0 100%;
                transition: background-size 800ms;

                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            .separator {
                width: 30%;  
            }
        }
    }

    @if $page == delight {
        @each $name, $background in $backgrounds-delight {
            &--content .line-#{$name} {
                /*background: $background;*/
                background-size: 0 100%;
                transition: background-size 800ms;

                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            .separator {
                width: 30%;  
            }
        }
    }

    @if $page == palet {
        @each $name, $background in $backgrounds-palet {
            &--content .line-#{$name} {
                /*background: $background;*/
                background-size: 0 100%;
                transition: background-size 800ms;
                
                &:hover {
                    background-size: 100% 100%;
                }
            }
        }

        &--content {
            @include flexcenter;

            .separator {
                width: 30%;  
            }
        }
    }
}

@mixin fontsize($part) {
    @if $part == title {
      font-size: map-get($font-size, title);
    }
    @else if $part == subtitle {
      font-size: map-get($font-size, subtitle);
    }
    @else if $part == paragraph {
      font-size: map-get($font-size, paragraph);
    }
    @include breakpoints(mobile) {
      font-size: map-get($font-size, $part)/1.6;
    }
}

/*   ***************mixin media queries*********************   */
@mixin breakpoints ($point) {
    @if $point == mobile {
        @media screen and(max-width: 768px) {@content;}
    }
}